################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/GeoServices/bin
/GeoServices/obj
/.vs
/publish_nuget.bat
/GeoServices/.vs
